#ongo {
	font-size: 116pt;
}

.ongostudios {
	margin-left: calc(5% - 6px);
	font-family: 'Raleway', sans-serif;
	font-style: 'light';
	text-shadow: 2px 2px #ff00ff,-4px 4px #00ffff;
	width: calc(95% - 2px);
	overflow: hidden;
	position: absolute;
    bottom: 50pt;
    z-index: 1;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 150pt);
	z-index: 2;
	background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.0));
}


#studios {
	font-size: 100pt;
	color: black;
	z-index: 100;
}

#studios:hover {
	text-decoration: none;
}